.container_two{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	.p_one{
		position: absolute;
		top: 22.63888888888889vw;
		left: 58.33333333333333vw;
		font-family: CodecPro-News;
		font-weight: 300;
		font-size: 0.9722222222222222vw;
		line-height: 1.419444444444444vw;
		color: #677B8F;
	}
	h2{
		width: 25.11111111111111vw;
		white-space: nowrap;
		position: absolute;
		top: 26.25vw;
		left: 58.33333333333333vw;
		font-family: CodecPro-Bold;
		font-weight: 700;
		font-size: 1.666666666666667vw;
		line-height: 1.43125vw;
	}
	.face{
		width: 11.25vw;
		height: 10.55555555555556vw;
		position: absolute;
		img{
			border-radius: 1.111111111111111vw;
			width: 11.25vw;
			height: 6.666666666666667vw;
		}
		h3{
			font-family: CodecPro-Bold;
			font-weight: 700;
			font-size: 1.111111111111111vw;
			line-height: 0.9541666666666667vw;
			color: #012345;
			margin-top: 1.111111111111111vw;
		}
		h4{
			font-family: CodecPro-News;
			font-weight: 300;
			font-size: 0.8333333333333333vw;
			line-height: 1.233333333333333vw;
			color: #677B8F;
			margin-top: 0.5555555555555556vw;
		}
	}
	.p_two{
		position: absolute;
		top: 42.70833333333333vw;
		left: 58.33333333333333vw;
		font-family: CodecPro-News;
		font-size: 0.9722222222222222vw;
		line-height: 1.419444444444444vw;
		width: 36.94444444444444vw;
		color: #677B8F;
	}
	.face_one{
		top: 29.93055555555556vw;
		left: 58.33333333333333vw;
	}
	.face_two{
		top: 29.93055555555556vw;
		left: 71.31944444444444vw;
	}
	.face_three{
		top: 29.93055555555556vw;
		left: 84.30555555555556vw;
	}
}