@media (min-width: 1920px){
	header{
		width: 1749px!important;
		.logoall{
			width: 64px!important;
		}
		.logo{
			width: 64px!important;
		}
		.Pepelaneall{
			width: 162.79px!important;
		}
		.Pepelane{
			width: 138.93px!important;
		}
		.p_lable{
			width: 426.53px!important;
		}
		.lable{
			width: 340px!important;
			font-size: 21.33333333333333px!important;
		}
		.night{
			width: 543.98px!important;
		}
		.moon{
			width: 32px!important;
		}
		.sun{
			width: 32px!important;
		}
		.night_mod{
			width: 109.33px!important;
			font-size: 21.33333333333333px!important;
		}
		.day_mode{
			width: 162.65px!important;
			font-size: 21.33333333333333px!important;
		}
		.massage{
			width: 32px!important;
		}
		.bell{
			width: 32px!important;
		}
		.name{
			width: 144.78px!important;
			font-size: 21.33333333333333px!important;
		}
		.ava{
			width: 74.66px!important;
			background-size: 74.66px 74.66px!important;
		}
		.frame2{
			width: 172px!important;
		}
		.frame3{
			width: 64px!important;
		}
		.acc{
			width: 315.41px!important;
		}
	}
}