@media (max-width: 770px){
	header{
		width: 100.2666666666667vw;
		height: 14.93333333333333vw;
		margin: 0;
		align-items: center;
	}
	.logo{
		width: 8.533333333333333vw!important;
		height: 8.533333333333333vw!important;
		margin: 0!important;
	}
	.logoall{
		margin-left: 4.266666666666667vw!important;
	}
	.Pepelane{
		width: 18.52533333333333vw!important;
		height: 3.666666666666667vw!important;
		margin: 0!important;
	}
	.Pepelaneall{
		margin-left: 3.181333333333333vw;
	}
	.lable{
		display: none!important;
	}
	.moon{
		width: 5.333333333333333vw!important;
		height: 5.333333333333333vw!important;
		margin: 0!important;
	}
	.night{
		width: 5.333333333333333vw!important;
		height: 5.333333333333333vw!important;
		margin: 0 0 0 22.02666666666667vw!important;
		p{
			display: none!important;
		}
	}
	.massage{
		width: 5.333333333333333vw!important;
		height: 5.333333333333333vw!important;
		margin: 0!important;
	}
	.bell{
		width: 5.333333333333333vw!important;
		height: 5.333333333333333vw!important;
		margin: 0!important;
	}
	.name{
		display: none!important;
	}
	.acc{
		margin: 0 0 0 6.4vw!important;
	}
	.ava{
		width: 8.533333333333333vw!important;
		height: 8.533333333333333vw!important;
		background-repeat: no-repeat;
		background-size: 8.533333333333333vw 8.533333333333333vw!important;
		box-shadow: none!important;
		margin: 0!important;
	}
	.frame2{
		margin: 0 0 0 4.266666666666667vw!important;
		width: 5.333333333333333vw!important;
		height: 5.333333333333333vw!important;
	}
	.frame3{
		margin: 0 0 0 4.266666666666667vw!important;
		width: 5.333333333333333vw!important;
		height: 5.333333333333333vw!important;
	}
}