@media (max-width: 770px){
	.detail{
		.container_three{
			position: inherit;
			height: auto;
			.buy{
				bottom: 8.533333333333333vw;
				top: auto;
			}
			.pi_one{
				font-size: 3.733333333333333vw;
				line-height: 5.450666666666667vw;
				width: 91.46666666666667vw;
				height: 10.66666666666667vw;
				margin-top: 21.06666666666667vw;
				margin-left: 4.266666666666667vw;
				position: inherit;
				top: auto;
				left: auto;
			}
			.pi_two{
				font-size: 3.733333333333333vw;
				line-height: 5.450666666666667vw;
				width: 91.46666666666667vw;
				height: 21.33333333333333vw;
				margin-top: 2.133333333333333vw;
				margin-left: 4.266666666666667vw;
				position: inherit;
				top: auto;
				left: auto;
			}
			h2{
				font-size: 4.266666666666667vw;
				line-height: 6.485333333333333vw;
				width: 91.46666666666667vw;
				margin-top: 4.266666666666667vw;
				margin-left: 4.266666666666667vw;
				position: inherit;
				top: auto;
				left: auto;
			}
			ul{
				width: 91.46666666666667vw;
				margin-bottom: 35.2vw;
				margin-top: 4.266666666666667vw;
				margin-left: 4.266666666666667vw;
				position: inherit;
				top: auto;
				left: auto;
				li{
					font-size: 3.733333333333333vw;
					line-height: 5.450666666666667vw;
					margin-bottom: 2.133333333333333vw;
					background-size: 1.066666666666667vw 1.066666666666667vw;
					padding-left: 4vw;
					background-position: 0 2vw;
				}
			}
		}
	}
}
